<div class="homePage">
    <div class="homePage__content">
      <h1 class="homePage__content__title">Bienvenue sur Explorateur du Système Soleil</h1>
      <p class="homePage__content__desc">Ce site vous permettra de découvrir notre système solaire et ses corps célestres</p>
      <app-display-planets-picture></app-display-planets-picture>
    </div>
    <img class="homePage__img" src="../../../assets/pictureDeco/globe-1849404.png" alt="photo de la terre vue de l'espace">
    <!-- <app-map3d-planets [textureUrl]="'assets/8k_earth_nightmap.jpg'"></app-map3d-planets> -->
  </div>
  