
 .bodyHomePage {
    background-image: url(../../../assets/cover/8k_stars.jpg);
    height: 100vh;
    background-size: cover; 
    
  }

  h1 {
    font-size: 2.5rem;
    color: #DA1274;
    text-align: center;
    padding-top: 200px;
  }
  

  p {
    font-size: 1.2rem;
    color: #062E58;
    text-align: center;
    margin: 20px 0;
  }


  