<header class="solar-system-header" [class]="headerClass"  [class.scrolled-shadow]="hasScrolled">
    <app-night-star-animation *ngIf="showNightAnimation" class="animation-night-star"></app-night-star-animation>
    <h1 class="header-title">Explorateur du Système Soleil</h1>
    <nav class="navigation">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
        <a routerLink="/planets" routerLinkActive="active" class="nav-link">Liste des Planètes</a>
    </nav>
</header>
