/* Dans votre fichier component.scss */
.planets-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    overflow-x: auto;
    background-color: black;
    padding: 15px;
  }
  
  .planet {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .planet img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease-in-out;
    filter: brightness(60%);
  }
  
  .planet-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #DA1274;
    font-weight: 800;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .planet:hover img {
    transform: scale(1.1);
    filter: brightness(150%);
  }
  
  .planet:hover .planet-info {
    visibility: visible;
    opacity: 1;
  }
  