/* Dans votre fichier component.scss */
.planets-container {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    // background-image:linear-gradient(to bottom, black 88%, #030305 100%);
    padding: 20px;
  }
  
  .planet {
    position: relative;
    display: flex;       
    justify-content: center; 
    align-items: center;
    cursor: pointer;
  }
  
  .planet img {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 150px;
    transition: transform 0.3s ease-in-out;
    filter: brightness(60%);
  }
  
  .planet-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #DA1274;
    font-weight: 800;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .planet:hover img {
    transform: scale(1.1);
    filter: brightness(150%);
  }
  
  .planet:hover .planet-info {
    visibility: visible;
    opacity: 1;
  }
  